<launch>
    <node name="receiver" pkg="order_tester" type="receiver.py" output="screen" />
    <node name="first" pkg="order_tester" type="first.py" output="screen" />
    <node name="second" pkg="order_tester" type="second.py" output="screen" />
    <node name="third" pkg="order_tester" type="third.py" output="screen" />
    <node name="fourth" pkg="order_tester" type="fourth.py" output="screen" />
</launch>