<launch>
    <!-- urdf -->
    <param name="robot_description" textfile="$(find rviz_xycar)/urdf/xycar_3d.urdf"/>
    <param name="use_gui" value="true"/>

    <!-- rviz -->
    <node name="rviz_visualizer" pkg="rviz" type="rviz" required="true" args="-d $(find rviz_xycar)/rviz/rviz_odom.rviz"/>
     <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /-->

    <!-- python file -->
    <node name="odemetry_publisher" pkg="rviz_xycar" type="rviz_odom.py" />    
    <node name="converter" pkg="rviz_xycar" type="converter.py" />
    <node name="line" pkg="lidar_drive" type="line_follow.py" />
    
    <!-- rosbag play -->
    <node name="rosbag_play" pkg="rosbag" type="play" output="screen" required="true" args="$(find lidar_drive)/src/cam_topic.bag" />
</launch>

